/* Edited by Shawn Jordan */

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
/* modify header for background color */
header {
    background-color: #000033; /* set to match left of sunset image */
    background-image: url('sunset.jpg');
    background-size: auto 100%; /* maintain image aspect ratio */
    background-repeat: no-repeat; /* use only one image */
    background-position: right;
    color: white; /* text color */
    grid-area: header;
}
/* make contents 80% of page, min 600px */
#wrapper {
    display: grid; /* layout splits into columns */
    grid-template-rows: auto 1fr; /* header takes up its height, the rest is filled by the content */
    grid-template-columns: 200px 1fr; /* layout 200px to left, rest is auto width */
    grid-template-areas:
        "header header"
        "nav content"
        "nav footer";
    max-width: 80%;
    min-width: 600px;
    margin: auto; /* center on page */
    margin-bottom: 10%;
    background-color: white;
}
/* Navigation side */
nav {
    grid-area: nav;
    background-color: #3399CC;
}
#content {
    grid-area: content;
    padding: 5%; /* create space around the content */
}
#content ul li {
    list-style-image: url('marker.gif');
}
body {
	background-image: url('ptrbackground.jpg');
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul {
	font-size: 1.2em;
    list-style-type: none; /* remove bullet points */
    font-weight: bold;
}
nav ul a{
    text-decoration: none; /* remove underline */
    color: black;
}
nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
    grid-area: footer;
	font-family: Georgia, "Times New Roman", serif;
    padding: 5%;
}

